body  {
  background: black;
  color: white;
}
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
.App {
  text-align: center;
}

.App-logo-left {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  float: left;
}

.App-logo-right {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  float: right;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: #00d8ff;
}

.App-intro {
  font-size: medium;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/


.flexGrid {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;

}

/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
.imgWrapper {
    margin: 3%;
}



.imgSize {
    height: 175px;
    width: 175px;
}
